## Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## SQLite temp files
*.db-shm
*.db-wal

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
